mixin ButtonChildren({ title, icon })
  if (icon)
    span.Button-control-icon
      if (icon === 'cart')
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.8581 5.19919L15.2775 11.5228C15.1521 12.0246 14.7032 12.375 14.1857 12.375H4.43812C3.86719 12.375 3.38681 11.9475 3.321 11.3805L2.18194 2.25H1.40625C0.939938 2.25 0.5625 1.87256 0.5625 1.40625C0.5625 0.939938 0.939938 0.5625 1.40625 0.5625H2.91769C3.33956 0.5625 3.69619 0.874125 3.75356 1.2915L4.19344 4.5H16.3125C16.6781 4.5 16.947 4.84425 16.8581 5.19919Z" fill="#FBB508"/><path d="M3.9375 15.1875C3.9375 16.1179 4.69462 16.875 5.625 16.875C6.55538 16.875 7.3125 16.1179 7.3125 15.1875C7.3125 14.2571 6.55538 13.5 5.625 13.5C4.69462 13.5 3.9375 14.2571 3.9375 15.1875Z" fill="#FBB508"/><path d="M14.0625 15.1875C14.0625 14.2571 13.3054 13.5 12.375 13.5C11.4446 13.5 10.6875 14.2571 10.6875 15.1875C10.6875 16.1179 11.4446 16.875 12.375 16.875C13.3054 16.875 14.0625 16.1179 14.0625 15.1875Z" fill="#FBB508"/></svg>

      else if (icon === 'trash')
        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.668 4.66675C12.4912 4.66675 12.3216 4.73699 12.1966 4.86201C12.0715 4.98703 12.0013 5.1566 12.0013 5.33341V12.7941C11.9822 13.1312 11.8306 13.4471 11.5796 13.673C11.3286 13.8989 10.9986 14.0165 10.6613 14.0001H5.3413C5.00403 14.0165 4.67396 13.8989 4.42297 13.673C4.17199 13.4471 4.02043 13.1312 4.0013 12.7941V5.33341C4.0013 5.1566 3.93106 4.98703 3.80604 4.86201C3.68102 4.73699 3.51145 4.66675 3.33464 4.66675C3.15782 4.66675 2.98826 4.73699 2.86323 4.86201C2.73821 4.98703 2.66797 5.1566 2.66797 5.33341V12.7941C2.687 13.4849 2.97902 14.14 3.48009 14.616C3.98115 15.0919 4.65042 15.3499 5.3413 15.3334H10.6613C11.3522 15.3499 12.0215 15.0919 12.5225 14.616C13.0236 14.14 13.3156 13.4849 13.3346 12.7941V5.33341C13.3346 5.1566 13.2644 4.98703 13.1394 4.86201C13.0143 4.73699 12.8448 4.66675 12.668 4.66675Z" fill="#929191"/><path d="M13.3353 2.66675H10.6686V1.33341C10.6686 1.1566 10.5984 0.987034 10.4734 0.86201C10.3483 0.736986 10.1788 0.666748 10.002 0.666748H6.00195C5.82514 0.666748 5.65557 0.736986 5.53055 0.86201C5.40552 0.987034 5.33529 1.1566 5.33529 1.33341V2.66675H2.66862C2.49181 2.66675 2.32224 2.73699 2.19722 2.86201C2.07219 2.98703 2.00195 3.1566 2.00195 3.33341C2.00195 3.51023 2.07219 3.6798 2.19722 3.80482C2.32224 3.92984 2.49181 4.00008 2.66862 4.00008H13.3353C13.5121 4.00008 13.6817 3.92984 13.8067 3.80482C13.9317 3.6798 14.002 3.51023 14.002 3.33341C14.002 3.1566 13.9317 2.98703 13.8067 2.86201C13.6817 2.73699 13.5121 2.66675 13.3353 2.66675ZM6.66862 2.66675V2.00008H9.33529V2.66675H6.66862Z" fill="#929191"/><path d="M7.33529 11.3333V6.66667C7.33529 6.48986 7.26505 6.32029 7.14002 6.19526C7.015 6.07024 6.84543 6 6.66862 6C6.49181 6 6.32224 6.07024 6.19722 6.19526C6.07219 6.32029 6.00195 6.48986 6.00195 6.66667V11.3333C6.00195 11.5101 6.07219 11.6797 6.19722 11.8047C6.32224 11.9298 6.49181 12 6.66862 12C6.84543 12 7.015 11.9298 7.14002 11.8047C7.26505 11.6797 7.33529 11.5101 7.33529 11.3333Z" fill="#929191"/><path d="M10.0013 11.3333V6.66667C10.0013 6.48986 9.93106 6.32029 9.80604 6.19526C9.68102 6.07024 9.51145 6 9.33464 6C9.15782 6 8.98826 6.07024 8.86323 6.19526C8.73821 6.32029 8.66797 6.48986 8.66797 6.66667V11.3333C8.66797 11.5101 8.73821 11.6797 8.86323 11.8047C8.98826 11.9298 9.15782 12 9.33464 12C9.51145 12 9.68102 11.9298 9.80604 11.8047C9.93106 11.6797 10.0013 11.5101 10.0013 11.3333Z" fill="#929191"/></svg>

      else
        img(src=`${icon}`, alt="")

  if (title)
    span.Button-control-title
      = title

mixin Button({ className = '', type = 'button', size = 'middle', title, icon, reverse, link })
  .Button(class=`${className} ${reverse ? 'reverse' : ''} ${size}`)
    if link
      a(href=`${link}`).Button-control.flex.items-center.justify-center
        +ButtonChildren({ title, icon })

    else
      button(type=`${type}`).Button-control.flex.items-center.justify-center
        +ButtonChildren({ title, icon })