mixin ProductBox({ link = '#', image, video, title, price, oldPrice })
  .ProductBox
    .ProductBox-image 
      .ProductBox-image-wrapper
        img(src=`${image}`, alt="")

        video(data-src=`${video}` muted loop).ProductBox-video

        .ProductBox-video-loading   
          img(src="./assets/icons/icon-spinner.svg", alt="")

    .ProductBox-info
      a(href=`${link}`).ProductBox-title= title

      .ProductBox-price 
        if oldPrice
          del= oldPrice
        span= price 